treechildren::-moz-tree-image(modules_catalog_shopfolder){
	list-style-image: url(/changeicons/small/folder.png) ;
}
treechildren::-moz-tree-image(modules_catalog_shop){
	list-style-image: url(/changeicons/small/shop.png) ;
}
treechildren::-moz-tree-image(modules_catalog_topshelf){
	list-style-image: url(/changeicons/small/folders-stack.png) ;
}
treechildren::-moz-tree-image(modules_catalog_shelf){
	list-style-image: url(/changeicons/small/folder-closed.png) ;
}
treechildren::-moz-tree-image(modules_catalog_declinedproduct){
	list-style-image: url(/changeicons/small/declinedproduct.png) ;
}
treechildren::-moz-tree-image(modules_catalog_productdeclination){
	list-style-image: url(/changeicons/small/product.png) ;
}
treechildren::-moz-tree-image(modules_catalog_simpleproduct){
	list-style-image: url(/changeicons/small/simpleproduct.png) ;
}
treechildren::-moz-tree-image(modules_catalog_price){
	list-style-image: url(/changeicons/small/currency-euro.png) ;
}
treechildren::-moz-tree-image(modules_catalog_shippingfilter){
	list-style-image: url(/changeicons/small/shipping.png);
}
treechildren::-moz-tree-image(modules_catalog_paymentfilter){
	list-style-image: url(/changeicons/small/currency-euro.png);
}
treechildren::-moz-tree-image(modules_catalog_attributefolder){
	list-style-image: url(/changeicons/small/blueprint.png);
}
treechildren::-moz-tree-image(modules_catalog_preferences){
	list-style-image: url(/changeicons/small/catalog.png);
}
treechildren::-moz-tree-image(modules_catalog_compiledproduct){
	list-style-image: url(/changeicons/small/productref.png);
}
treechildren::-moz-tree-image(modules_catalog_product){
	list-style-image: url(/changeicons/small/product.png);
}
treechildren::-moz-tree-image(modules_catalog_productlist){
	list-style-image: url(/changeicons/small/cubes.png);
}
treechildren::-moz-tree-image(modules_catalog_bundleproduct){
	list-style-image: url(/changeicons/small/bundleproduct.png);
}
treechildren::-moz-tree-image(modules_catalog_bundleditem){
	list-style-image: url(/changeicons/small/document.png);
}
treechildren::-moz-tree-image(modules_catalog_alert){
	list-style-image: url(/changeicons/small/document.png);
}
treechildren::-moz-tree-image(modules_catalog_kititem){
	list-style-image: url(/changeicons/small/document.png);
}
treechildren::-moz-tree-image(modules_catalog_kit){
	list-style-image: url(/changeicons/small/kit.png);
}
treechildren::-moz-tree-image(modules_catalog_lockedprice){
	list-style-image: url(/changeicons/small/currency-euro.png);
}
treechildren::-moz-tree-image(modules_catalog_virtualproduct){
	list-style-image: url(/changeicons/small/virtualproduct.png);
}
treechildren::-moz-tree-image(modules_catalog_noshelfproductfolder){
	list-style-image: url(/changeicons/small/noshelffolder.png);
}

wdialog[template="orderProductsInShelf"] .dialog-header{
	background: url(/changeicons/small/sort.png) transparent center  left no-repeat!important;
}
treechildren::-moz-tree-image(modules_catalog_tax){
	list-style-image: url(/changeicons/small/document.png);
}
treechildren::-moz-tree-image(modules_catalog_currency){
	list-style-image: url(/changeicons/small/document.png);
}