cfield[fieldtype="price"]{
	-moz-binding: url(binding:modules.catalog.cPriceEditor#cPriceField);
}
cdocumenteditor row[class="discountHelper"]{
	-moz-binding: url(binding:modules.catalog.cPriceEditor#cDiscountHelper);
}
cdocumenteditor cpricespanel{
	-moz-binding: url(binding:modules.catalog.cPriceEditor#cPricesPanel);
}
gridlist.pricelist{
	-moz-binding: url(binding:modules.catalog.cPriceEditor#cPricesList);
}
cdocumenteditor cdeclinationspanel{
	-moz-binding: url(binding:modules.catalog.cCatalogEditor#cDeclinationsPanel);
}
cdocumenteditor cdeclinationslist{
	-moz-binding: url(binding:modules.catalog.cCatalogEditor#cDeclinationsList);
}

cdocumenteditor#edt_catalog_simpleproduct cresumesection[sectionname="urlrewriting"],
cdocumenteditor#edt_catalog_declinedproduct cresumesection[sectionname="urlrewriting"],
cdocumenteditor#edt_catalog_bundleproduct cresumesection[sectionname="urlrewriting"],
cdocumenteditor#edt_catalog_kit cresumesection[sectionname="urlrewriting"],
cdocumenteditor#edt_catalog_shelf cresumesection[sectionname="urlrewriting"],
cdocumenteditor#edt_catalog_topshelf cresumesection[sectionname="urlrewriting"]{
	-moz-binding: url(binding:modules.catalog.cCatalogEditor#cResumeUrlrewritingByShopSection);
}
cdocumenteditor cfield[fieldtype="productSuggestion"]{
	-moz-binding: url(binding:modules.catalog.cCatalogEditor#cProductSuggestionField);
}
wdialog[template="productSuggestion"]{
	-moz-binding: url(binding:modules.catalog.cCatalogEditor#cProductSuggestionDialog);
}
cdocumenteditor#edt_catalog_attributefolder cfield[fieldtype="attributesdeflist"]{
	-moz-binding: url(binding:modules.catalog.cAttributes#cAttributesDef);
}
cdocumenteditor#edt_catalog_simpleproduct cfield[fieldtype="attributeslist"]{
	-moz-binding: url(binding:modules.catalog.cAttributes#cAttributes);
}
cdocumenteditor cbundleditemspanel{
	-moz-binding: url(binding:modules.catalog.cCatalogEditor#cBundledItemsPanel);
}
gridlist.bundleditemsJSON{
	-moz-binding: url(binding:modules.catalog.cCatalogEditor#cBundledItemsGrid);
}

cdocumenteditor ckititemspanel{
	-moz-binding: url(binding:modules.catalog.cCatalogEditor#cKitItemsPanel);
}
gridlist.kititemsJSON{
	-moz-binding: url(binding:modules.catalog.cCatalogEditor#cKitItemsGrid);
}
