.product-list,
.shelf-list {
	clear: both;
}
.product-list > li,
.shelf-list > li {
	width: 203px;
	margin-bottom: 10px;
	margin-right: 5px;
	margin-left: 5px;
	text-align: center;
	padding: 6px;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
}

.price {
	font-weight: bold;
	white-space: nowrap;
}
.price .tax-mode {
	font-size: 0.8em;
}
.price .discount-detail {
	margin-left: 8px;
}
.price del {
	font-weight: normal;
	font-size: 0.8em;
	margin-left: 8px;
}
.sub-list li {
	margin: 0;
	padding: 0;
}
.jqzoom {
	display: inline-block;
}

.product-carousel {
	overflow: hidden;
	position: relative;
}
.product-carousel > ul {
	position: relative;
	white-space: nowrap;
}
.product-carousel > ul > li {
	white-space: normal;
}
.product-carousel .arrows button {
	display: none;
}
.product-carousel .arrows .slideright {
	float: right;
}
.product-carousel .arrows .slideleft {
	float: left;
}
.product-carousel .arrows p {
	text-align: center;
}

.modules-catalog-product .main-visual {
	min-width: 540px;
	height: 405px;
	line-height: 405px;
	text-align: center;
}
.modules-catalog-product .main-visual li:first-child {
	display: block;
}
.modules-catalog-product .main-visual li {
	display: none;
}

.modules-catalog-product .additionnal-visuals {
	text-align: center;
}
.modules-catalog-product .additionnal-visuals li {
	display: inline-block;
	min-width: 80px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	padding: 3px;
	cursor: pointer;
}

.modules-catalog-product .pictograms {
	float: right;
}
.modules-catalog-product .pictograms li {
	display: inline-block;
	height: 45px;
	line-height: 45px;
	margin-left: 6px;
}

.modules-catalog-product .columns {
	position: relative;
	top: 0;
	left: 0;
}
.modules-catalog-product .columns [id^="product-zoom-"] {
	z-index: 10000;
	width: 300px;
	height: 375px;
	border: 5px solid #eee;
	background: #fff;
	color: #333;
	position: absolute;
	top: 10px;
	right: 25px;
	overflow: hidden;
	-moz-box-shadow: 0 0 10px #555;
	-webkit-box-shadow: 0 0 10px #555;
	box-shadow: 0 0 10px #555;
	/* vertical and horizontal alignment used for preloader text */
	line-height: 375px;
	text-align: center;
}