<?xml version="1.0" encoding="utf-8"?>
<config>
	<module>
		<enabled>true</enabled>
		<visible>true</visible>
		<icon>catalog</icon>
		<category>e-commerce</category>
		<usetopic>false</usetopic>
	</module>
	<project>
		<!-- Feeders for product suggestions. -->
		<modulesCatalogProductSuggestionFeeder>
			<entry name="1">catalog_SameShelvesProductFeeder</entry>
		</modulesCatalogProductSuggestionFeeder>
	</project>
</config>