<?xml version="1.0" encoding="utf-8"?>
<config>
	<module>
		<enabled>true</enabled>
		<visible>true</visible>
		<icon>catalog</icon>
		<category>e-commerce</category>
		<usetopic>false</usetopic>
	</module>
	<project>
		<!-- Feeders for product suggestions. -->
		<modulesCatalogProductSuggestionFeeder>
			<entry name="1">catalog_SameShelvesProductFeeder</entry>
			<entry name="2">catalog_SameBrandProductFeeder</entry>
		</modulesCatalogProductSuggestionFeeder>
		<!-- Favorite and consulted product list handling. -->
		<entry name="productListFavoriteClass">catalog_SessionProductList</entry>
		<entry name="productListFavoritePersist">true</entry>
		<entry name="productListFavoriteMaxCount">-1</entry>
		<entry name="productListConsultedClass">catalog_SessionProductList</entry>
		<entry name="productListConsultedPersist">false</entry>
		<entry name="productListConsultedMaxCount">10</entry>
	</project>
</config>