<?xml version="1.0" encoding="utf-8"?>
<config>
	<module>
		<enabled>true</enabled>
		<visible>true</visible>
		<icon>catalog</icon>
		<category>e-commerce</category>
		<usetopic>false</usetopic>
	</module>
	<project>
		<!-- <entry name="addCanonicalOnDeclinations">false</entry> -->
	
		<!-- Feeders for product suggestions. -->
		<modulesCatalogProductSuggestionFeeder>
			<entry name="1">catalog_SameShelvesProductFeeder</entry>
			<entry name="2">catalog_SameBrandProductFeeder</entry>
		</modulesCatalogProductSuggestionFeeder>
		
		<!-- Product compilation. -->
		<entry name="compilationChunkSize">100</entry>
		
		<!-- Cross selling. -->
		<entry name="crossitemsCompilationChunkSize">100</entry>
		<entry name="crossitemsGenerationChunkSize">25</entry>
		<entry name="crossitemsGenerationDelay">1d</entry>
		<!-- <crossitemsGeneration>
			<complementary>
				<entry name="maxCount">3</entry>
				<entry name="feederClass">catalog_SameShelvesProductFeeder</entry>
			</complementary>
		</crossitemsGeneration> -->
		
		<!-- Favorite and consulted product list handling. -->
		<entry name="productListFavoriteClass">catalog_SessionProductList</entry>
		<entry name="productListFavoritePersist">true</entry>
		<entry name="productListFavoriteMaxCount">-1</entry>
		
		<entry name="productListConsultedClass">catalog_SessionProductList</entry>
		<entry name="productListConsultedPersist">false</entry>
		<entry name="productListConsultedMaxCount">10</entry>
		
		<entry name="productListComparisonClass">catalog_SessionProductList</entry>
		<entry name="productListComparisonPersist">false</entry>
		<entry name="productListComparisonMaxCount">25</entry>
		
		<!-- 
			CLASSNAME must have a public function getCurrentTaxZone($shop, $cart)
			<entry name="currentTaxZoneStrategyClass">CLASSNAME</entry>
		 -->
		
		<!-- 
			CLASSNAME must have a public function getCurrentBillingArea($shop) 
			<entry name="currentBillingAreaStrategyClass">CLASSNAME</entry>
		 -->
	</project>
	
	<!-- Add this in modules/media section of your project.xml if you use virtualproducts.
	<secureMediaStrategyClass>
		<entry name="virtualproduct">catalog_VirtualProductSecuremediaStrategy</entry>
	</secureMediaStrategyClass>-->
</config>