<div class="product-crossselling">
	<h3 change:h="">${title}</h3>

	<div class="shelves-display"> 
		<ol class="table-view">
			<li tal:repeat="relatedProduct relatedProducts">
				<ul class="sub-list" change:productprice="name 'price'; product relatedProduct">			
					<li change:productvisual="name 'visual'; mode 'list'; product relatedProduct" tal:condition="visual">
						<a change:link="document relatedProduct"><img change:media="document visual; format 'modules.catalog.frontoffice/pic120x120'" /></a>
					</li>
					<li>
						<h4 class="title"><a class="link" change:link="document relatedProduct">${relatedProduct/getLabelAsHtml}</a></h4>
					</li>
					<li tal:condition="price/isDiscount">
						<span class="price"><del>${price/getFormattedOldValueWithTax}</del></span>
					</li>
					<li>
						<span class="price">${price/getFormattedValueWithTax}</span>
					</li>
				</ul>
			</li>
		</ol>
	</div>
	
	<ul class="mini-navigation" tal:condition="hrefToAll">
		<li><a href="${hrefToAll}" class="link" change:translate="modules.catalog.frontoffice.cross-selling-list"></a></li>
	</ul>
</div>