<tal:block tal:define="id product/getId" change:productprice="name 'price'; product product">
	<ul class="sub-list">
		<li change:productvisual="name 'visual'; mode 'list'; product product" tal:condition="visual" class="product-visual">
			<a change:link="document product; catalogParam[shopId] contextShopId; catalogParam[topicId] product/getContextualTopicId" tal:attributes="title product/getLinkTitle">
				<img change:media="document visual; format 'modules.catalog.frontoffice/medium'" />
			</a>
		</li>
		<li class="product-label">
			<a change:link="document product; catalogParam[shopId] contextShopId; catalogParam[topicId] product/getContextualTopicId" tal:attributes="title product/getLinkTitle">${product/getNavigationLabelAsHtml}</a>
		</li>
		<li tal:condition="displayConfig/showAvailability" class="product-availability">
			${product/getAvailability}
		</li>
		<li tal:condition="displayConfig/showRatingAverage" class="product-rating">
			<tal:block tal:condition="product/hasRating" change:starrating="" small="true" value="${product/getRatingAverage}" displayOnly="true" />
			<span tal:condition="not:product/hasRating">${trans:m.catalog.fo.no-rating,ucf}</span>
		</li>
		<li tal:condition="displayConfig/showPricesWithoutTax" class="product-price">
			<span class="price">
				${price/getFormattedValueWithoutTax} <span class="tax-mode">${trans:m.catalog.frontoffice.ht,uc}</span>
				<tal:block tal:condition="price/isDiscount"><del>${price/getFormattedOldValueWithoutTax}</del></tal:block>
			</span>
		</li>
		<li tal:condition="displayConfig/showPricesWithTax" class="product-price">
			<span class="price"> 
				${price/getFormattedValueWithTax}  <span class="tax-mode">${trans:m.catalog.frontoffice.ttc,uc}</span>
				<tal:block tal:condition="price/isDiscount"><del>${price/getFormattedOldValueWithTax}</del></tal:block>
			</span>
		</li>
		<li class="product-add" tal:condition="displayConfig/showAddToCart">
			<form tal:condition="php: product.canBeOrdered(shop)" class="cmxform" action="${actionurl:'order','AddToCart',attr}" method="post">
				<tal:block change:addtocartbutton="shop shop; product product" />
			</form>
		</li>
	</ul>
</tal:block>