<script change:javascript="head 'modules.catalog.lib.js.product-detail'"></script>

<tal:block change:block="" module="order" name="CartMessages" container="" />
<tal:block change:block="" module="website" name="messages" container="" />

<h1 change:h="">${bundledproduct/getNavigationLabelAsHtml}</h1>

<dl class="inline-list">
	<dt>${trans:m.catalog.frontoffice.detail-reference,ucf}</dt>
	<dd>${bundledproduct/getCodeReferenceAsHtml}<span class="separator"> | </span></dd>
	<tal:block tal:condition="bundledproduct/hasPublishedBrand" tal:define="brand bundledproduct/getBrand">
		<dt>${trans:m.catalog.frontoffice.brand,ucf}</dt>
		<dd><a change:link="document brand">${brand/getLabelAsHtml}</a><span class="separator"> | </span></dd>
	</tal:block>
	<dt>${trans:m.catalog.fo.category,ucf}</dt>
	<dd><a change:link="document primaryshelf">${primaryshelf/getLabelAsHtml}</a></dd>
</dl>

<div class="columns">
	<div class="column-66 product-pics" tal:define="visuals php: bundledproduct.getAllVisuals(shop); uniqueId bundledproduct/getId">
		<ul class="main-visual">
			<li tal:repeat="visual visuals" id="product-visual-${uniqueId}-${visual/getId}">
				<script type="text/javascript" tal:condition="baseconfiguration/getActivatezoom">
					/* <![CDATA[ */
					jQuery(document).ready(function(){  
						jQuery('#product-visual-${uniqueId}-${visual/getId} a').easyZoom({
							id: 'product-zoom-${uniqueId}-${visual/getId}',
							parent: '#product-visual-${uniqueId}-${visual/getId}',
							preload: '<p class="preloader">${trans:m.catalog.fo.image-loading,ucf,js}</p>'
						});
					});
					/* ]]> */
				</script>
				<a tal:omit-tag="not:baseconfiguration/getActivatezoom" change:link="document visual"><img change:media="document visual; format 'modules.catalog.frontoffice/big'" /></a>
			</li>
		</ul>
		<ul class="inline-list additionnal-visuals" tal:condition="php: count(visuals) GT 1">
			<li tal:repeat="visual visuals" id="product-thumbnail-${uniqueId}-${visual/getId}" title="${trans:m.catalog.fo.click-here-for-larger-image,ucf}"><img change:media="document visual; format 'modules.catalog.frontoffice/small'" /></li>
		</ul>
	</div>
	<div class="column-33">
		<ul class="mini-navigation">
			<li><a change:link="document product; catalogParam[shopId] contextShopId; catalogParam[topicId] contextTopicId">${trans:m.catalog.frontoffice.go-to-bundle,ucf,bundleLabel=product/getLabelAsHtml}</a></li>
		</ul>
		<div class="cleaner"></div>
		<tal:block tal:condition="baseconfiguration/getShowShortDescription">
			<div tal:condition="product/getDescription" class="normal product-description">${php: product.getShortDescription(180)}</div>
		</tal:block>
	</div>
</div>