<tal:block tal:condition="shelves">
	<h2 change:h="">${currentShelf/getLabelAsHtml}</h2>

	<div class="ecom-list">	
		<ol class="table-view">
			<li class="shelf-line" tal:repeat="item shelves">
				<ul class="sub-list">
					<li tal:condition="item/getVisual">
						<a class="link" tal:attributes="href item/getUrl; title item/getLinkTitle;">
							<img change:media="document item/getVisual; format 'modules.catalog.frontoffice/pic200x200'" />
						</a>
					</li>
					<li>
						<a class="link" tal:attributes="href item/getUrl; title item/getLinkTitle;">${item/getLabelAsHtml}</a>
						<br/>
						<tal:block tal:condition="configuration/getDisplayshelvesdescription">${item/getShortDescription}</tal:block>						
					</li>
					<li tal:condition="configuration/getDisplaysubshelves">
						<form tal:define="subShelves item/getPublishedSubShelvesInCurrentShop" tal:condition="php: count(subShelves) GT 0" method="post" 
							change:link="module website; action Redirect">
							<label class="invisible" for="second-level-shelf-${repeat/item/index}">${trans:modules.catalog.frontoffice.gotosubshelf,ucf}</label>
							<select name="location" id="second-level-shelf-${repeat/item/index}" class="textfield">
								<option tal:repeat="subItem subShelves" tal:attributes="value subItem/getUrl">${subItem/getLabelAsHtml}</option>
							</select>
							<input class="button" type="submit" value="ok" alt="ok" title="ok" />
						</form>
					</li>
				</ul>
			</li>			
		</ol>		
	</div>
</tal:block>