<h3 change:h="">${blockTitle}</h3>
<form change:form="beanClass catalog_persistentdocument_alert" tal:define="hasUser alert/hasUser">
	<div change:errors=""></div>
	<input change:hiddeninput="value alert/getProductId" name="productId" />
	<input change:hiddeninput="value alert/getAlertType" name="alertType" />
	<input change:hiddeninput="value alert/getPriceReference" name="priceReference" />
	<ul>
		<li tal:condition="hasUser">
			<input change:field="" name="email" readonly="readonly" />
		</li>
		<li tal:condition="not:hasUser">
			<input change:field="" name="email" />
		</li>
		<li tal:condition="useCaptcha">
			<img change:captcha="key 'productAlert'" style="vertical-align: bottom;" />
			<input change:captcha="key 'productAlert'" />
		</li>
	</ul>
	<p class="buttons"><input name="addAlert" change:submit="label &modules.catalog.frontoffice.Add-alert;" class="button" /></p>
</form>