<div class="normal" tal:condition="displayConfig/showShareBlock">
	<tal:block change:block="" module="sharethis" name="Sharepage" />
</div>

<h1 tal:condition="blockTitle" id="product-list-title" change:h="">${blockTitle}</h1>
<div tal:condition="blockDescription" class=" normal description">${blockDescription}</div>

<div tal:condition="displayConfig/showSortMenu" class="normal productlist-options">
	<tal:block tal:condition="displayConfig/showSortMenu" change:include="module displayConfig/controlsmodule; template displayConfig/controlstemplate; type 'html'; transmitAll 'true'" />
</div>

<tal:block change:block="" module="order" name="CartMessages" container="" />
<tal:block change:block="" module="website" name="messages" container="" />
<ul change:errors=""></ul>
<ul change:messages=""></ul>

<div tal:condition="not:products">${trans:m.catalog.frontoffice.no-product-to-display,ucf}</div>
<tal:block tal:condition="products">
	<form class="cmxform" action="#product-list-title" method="post">
		<ul class="product-list">
			<li tal:repeat="product products" class="product-line">
				<tal:block module="catalog" container="" name="ProductItem" displayMode="list"
					change:block="cmpref product; displayConfig displayConfig/itemconfig; shop shop" />
			</li>
		</ul>
		<div class="cleaner"></div>
		<p class="buttons" tal:condition="displayConfig/showCheckboxes">
			<input type="hidden" name="catalogParam[formBlockId]" value="${displayConfig/blockId}" />
			<input type="hidden" name="refererPageId" value="${context/getId}" />
			${trans:m.catalog.fo.actions-on-selection,ucf,lab}
			<tal:block tal:repeat="button displayConfig/globalButtons">
				<input class="button" name="catalogParam[${button/name}]" type="submit" value="${button/label}" />
			</tal:block>
		</p>
	</form>	
	<tal:block change:paginator="products" />
</tal:block>