<tal:block change:include="module 'catalog'; template 'Catalog-Block-Simpleproduct-Success'; type 'html'; transmitAll 'true'" />

<h2 change:h="">${trans:m.catalog.frontoffice.bundleditems,ucf}</h2>
<ul class="product-list">
	<li tal:repeat="bundleditem product/getBundleditemArray" class="product-line">
		<tal:block tal:define="id product/getId">
			<ul class="sub-list">
				<li change:productvisual="name 'visual'; mode 'list'; product bundleditem" tal:condition="visual" class="product-visual">
					<a change:link="document bundleditem; catalogParam[shopId] contextShopId; catalogParam[topicId] contextTopicId">
						<img change:media="document visual; format 'modules.catalog.frontoffice/medium'" />
					</a>
				</li>
				<li class="product-label">
					<a change:link="document bundleditem; catalogParam[shopId] contextShopId; catalogParam[topicId] contextTopicId">
						${bundleditem/getTitleAsHtml}
					</a>
				</li>
			</ul>
		</tal:block>
	</li>
</ul>