<h2 change:h="">${blockTitle}</h2>
<div class="content" tal:condition="product">
	<ol>
		<li change:productprice="name 'price'; product product">
			<a change:productvisual="name 'visual'; mode 'list'; product product" tal:condition="visual" change:link="document product" tal:attributes="title product/getLinkTitle">
				<img change:media="document visual; format 'modules.catalog.frontoffice/productList'" />
			</a>
			<h3 change:h=""><a change:link="document product" tal:attributes="title product/getLinkTitle">${product/getLabelAsHtml}</a></h3>
			<p tal:condition="product/getDescription" tal:content="product/getShortDescription" />

			<p class="priceht" tal:condition="shop/getDisplayPriceWithoutTax">
				<tal:block tal:condition="price/isDiscount"><del>${price/getFormattedOldValueWithoutTax}</del></tal:block>			
				${price/getFormattedValueWithoutTax}
			</p>
        	<p class="pricettc" tal:condition="shop/getDisplayPriceWithTax"> 
				<tal:block tal:condition="price/isDiscount"><del>${price/getFormattedOldValueWithTax}</del></tal:block>
				${price/getFormattedValueWithTax}
			</p>
		</li>
	</ol>
	<ul class="mini-navigation" tal:condition="configuration/getDestinationpage">
		<li><a change:link="document configuration/getDestinationpage" change:translate="modules.catalog.frontoffice.productpromotion-list"></a></li>
	</ul>
</div>