<div class="product-crossselling">
	<h3 change:h="" change:translate="modules.catalog.bo.blocks.BundleListByProduct.Blocktitle">Groupe de produit associé</h3>
	<div class="shelves-display"> 
		<ol class="table-view">
			<li tal:repeat="bundleProduct bundleProducts">
				<ul class="sub-list">			
					<li change:productvisual="name 'visual'; mode 'list'; product bundleProduct" tal:condition="visual">
						<a change:link="document bundleProduct"><img change:media="document visual; format 'modules.catalog.frontoffice/pic120x120'" /></a>
					</li>
					<li>
						<h4 change:h=""><a class="link" change:link="document bundleProduct">${bundleProduct/getLabelAsHtml}</a></h4>
					</li>
					<tal:block change:productprice="name 'price'; product bundleProduct">
					<li tal:condition="price/isDiscount">
						<span class="price"><del>${price/getFormattedOldValueWithTax}</del></span>
					</li>
					<li>
						<span class="price">${price/getFormattedValueWithTax}</span>
					</li>
					</tal:block>
				</ul>
			</li>
		</ol>
	</div>
</div>