<tal:block tal:condition="displayConfig/showShareBlock" change:block="" module="sharethis" name="Sharepage" />

<h1 tal:condition="blockTitle" id="product-list-title" change:h="">${blockTitle}</h1>
<div tal:condition="blockDescription" class="description">${blockDescription}</div>

<div tal:condition="displayConfig/showSortMenu" class="normal productlist-options">
	<tal:block tal:condition="displayConfig/showSortMenu" change:include="module displayConfig/controlsmodule; template displayConfig/controlstemplate; type 'html'; transmitAll 'true';" />
</div>

<tal:block change:block="" module="order" name="CartMessages" container="" />
<tal:block change:block="" module="website" name="messages" container="" />
<ul change:errors=""></ul>
<ul change:messages=""></ul>

<div tal:condition="not:products">${trans:m.catalog.frontoffice.no-product-to-display,ucf}</div>
<tal:block tal:condition="products">
	<script change:javascript="head 'modules.catalog.lib.js.product-list'"></script>
	<form class="cmxform" action="#product-list-title" method="post" data-addtocomparison-url="${actionurl:'catalog','UpdateList',listName='catalog_comparison',attr,backurl=currenturl:}">
		<input type="hidden" name="catalogParam[formBlockId]" value="${displayConfig/blockId}" />
		<ul class="product-list">
			<li tal:repeat="product products" class="product-line">
				<tal:block module="catalog" container="" name="ProductItem" displayMode="list"
					change:block="cmpref product; displayConfig displayConfig; shop shop" />
			</li>
		</ul>
		<div class="cleaner"></div>
		<p class="buttons" tal:condition="displayConfig/showCheckboxes">
			${trans:m.catalog.fo.actions-on-selection,ucf,lab}
			<tal:block tal:repeat="button displayConfig/globalButtons">
				<input class="button" name="catalogParam[${button/name}]" type="submit" value="${button/label}" />
			</tal:block>
			<input class="button hidden-without-js" name="mode[add]" type="submit" value="${trans:m.catalog.fo.add-to-comparisons,ucf,attr}" onclick="onGlobalAddToComparisonButtonClick(this);" />
		</p>
	</form>	
	<tal:block change:paginator="products" />
</tal:block>