<div class="productlist-options">
	<form action="#product-list-title" method="post">
		<tal:block tal:condition="php: displayConfig['showDisplayModeSelector'] || displayConfig['showResultCountSelector']">
			<strong tal:content="trans:m.catalog.frontoffice.list-display,ucf,lab"></strong>
			<ol>
				<li tal:condition="displayConfig/showDisplayModeSelector">
					<label class="invisible" for="display" tal:content="trans:m.catalog.frontoffice.list-displaymode,ucf,lab"></label>
	                <select name="catalogParam[displayMode]" id="display" class="textfield">
              			<option value="list" tal:condition="valueSortOption/displayModelist" selected="selected" tal:content="trans:m.catalog.frontoffice.list-list,ucf" />
              			<option value="list" tal:condition="not: valueSortOption/displayModelist" tal:content="trans:m.catalog.frontoffice.list-list,ucf" />
              			
              			<option value="table" tal:condition="valueSortOption/displayModetable" selected="selected" tal:content="trans:m.catalog.frontoffice.list-table,ucf" />
              			<option value="table" tal:condition="not: valueSortOption/displayModetable" tal:content="trans:m.catalog.frontoffice.list-table,ucf" />
	                </select>
				</li>
				<li tal:condition="displayConfig/showResultCountSelector">
					<label class="invisible" for="pagination" tal:content="trans:m.catalog.frontoffice.nbproducts,ucf,lab"></label>
                    <select name="catalogParam[nbresultsperpage]" id="pagination" class="textfield">
                        <option value="0" tal:content="trans:m.catalog.frontoffice.list-nbarticles,ucf" />
              			<option value="5" tal:condition="valueSortOption/nbresultsperpage5" selected="selected">5</option>
              			<option value="5" tal:condition="not: valueSortOption/nbresultsperpage5">5</option>
              			
              			<option value="10" tal:condition="valueSortOption/nbresultsperpage10" selected="selected">10</option>
              			<option value="10" tal:condition="not: valueSortOption/nbresultsperpage10">10</option>

              			<option value="15" tal:condition="valueSortOption/nbresultsperpage15" selected="selected">15</option>
              			<option value="15" tal:condition="not: valueSortOption/nbresultsperpage15">15</option>
              			
              			<option value="20" tal:condition="valueSortOption/nbresultsperpage20" selected="selected">20</option>
              			<option value="20" tal:condition="not: valueSortOption/nbresultsperpage20">20</option>
              			
              			<option value="25" tal:condition="valueSortOption/nbresultsperpage25" selected="selected">25</option>
              			<option value="25" tal:condition="not: valueSortOption/nbresultsperpage25">25</option>
                    </select>
                    <input type="hidden" name="catalogParam[page]" value="1" />
				</li>
			</ol>
		</tal:block>
		<tal:block tal:condition="php: displayConfig['showAvailability'] || displayConfig['showDiscountFilter']">
			<strong tal:content="trans:m.catalog.frontoffice.list-filter,ucf,lab"></strong>
			<ol>
				<li tal:condition="displayConfig/showAvailability">
					<label for="onlyavailable">
		                <input tal:condition="valueSortOption/onlyavailabletrue" checked="checked" type="checkbox" id="onlyavailable" name="catalogParam[onlyavailable]" value="true" />
		                <input tal:condition="not:valueSortOption/onlyavailabletrue" type="checkbox" id="onlyavailable" name="catalogParam[onlyavailable]" value="true" />
		                <tal:block tal:content="trans:m.catalog.frontoffice.list-only-available,ucf" />
		            </label>
				</li>
				<li tal:condition="displayConfig/showDiscountFilter">
					<label for="onlydiscount">
		                <input tal:condition="valueSortOption/onlydiscounttrue" checked="checked" type="checkbox" id="onlydiscount" name="catalogParam[onlydiscount]" value="true" />
		                <input tal:condition="not:valueSortOption/onlydiscounttrue" type="checkbox" id="onlydiscount" name="catalogParam[onlydiscount]" value="true" />
		                <tal:block tal:content="trans:m.catalog.frontoffice.list-only-discounts,ucf" />
		            </label>
				</li>
			</ol>
		</tal:block>
		<tal:block tal:condition="php: displayConfig['showPrices'] || displayConfig['showRatingAverage'] || displayConfig['showBrandOrder']">
			<strong tal:content="trans:m.catalog.frontoffice.list-sorting,ucf,lab"></strong>
			<ol>
				<li tal:condition="displayConfig/showPrices">
					<label class="invisible" for="price" tal:content="trans:m.catalog.frontoffice.price,ucf,lab"></label>
                    <select name="catalogParam[priceorder]" id="price" class="textfield">                              			
                        <option value="0" tal:content="trans:m.catalog.frontoffice.list-price,ucf" />                          
              			<option value="1" tal:condition="valueSortOption/priceorder1" selected="selected" tal:content="trans:m.catalog.frontoffice.list-price-increase,ucf" />
              			<option value="1" tal:condition="not: valueSortOption/priceorder1" tal:content="trans:m.catalog.frontoffice.list-price-increase,ucf" />
              			
              			<option value="2" tal:condition="valueSortOption/priceorder2" selected="selected" tal:content="trans:m.catalog.frontoffice.list-price-decrease,ucf" />
              			<option value="2" tal:condition="not: valueSortOption/priceorder2" tal:content="trans:m.catalog.frontoffice.list-price-decrease,ucf" />
                    </select> 
				</li>
				<li tal:condition="displayConfig/showRatingAverage">
					<label class="invisible" for="ratingAverage" tal:content="trans:m.catalog.frontoffice.rating-average,ucf,lab"></label>
                    <select name="catalogParam[ratingaverageorder]" id="ratingAverage" class="textfield">                              			
                        <option value="0" tal:content="trans:m.catalog.frontoffice.list-rating-average,ucf" />                          
              			<option value="1" tal:condition="valueSortOption/ratingaverageorder1" selected="selected" tal:content="trans:m.catalog.frontoffice.list-rating-average-increase,ucf" />
              			<option value="1" tal:condition="not: valueSortOption/ratingaverageorder1" tal:content="trans:m.catalog.frontoffice.list-rating-average-increase,ucf" />
              			
              			<option value="2" tal:condition="valueSortOption/ratingaverageorder2" selected="selected" tal:content="trans:m.catalog.frontoffice.list-rating-average-decrease,ucf" />
              			<option value="2" tal:condition="not: valueSortOption/ratingaverageorder2" tal:content="trans:m.catalog.frontoffice.list-rating-average-decrease,ucf" />
                    </select> 
				</li>
				<li tal:condition="displayConfig/showBrandOrder">
					<label class="invisible" for="brand" tal:content="trans:m.catalog.frontoffice.brand,ucf,lab"></label>
                    <select name="catalogParam[brandorder]" id="brand" class="textfield">
                        <option value="0" tal:content="trans:m.catalog.frontoffice.list-brand,ucf" />
              			<option value="1" tal:condition="valueSortOption/brandorder1" selected="selected" tal:content="trans:m.catalog.frontoffice.list-brand-az,ucf" />
              			<option value="1" tal:condition="not: valueSortOption/brandorder1" tal:content="trans:m.catalog.frontoffice.list-brand-az,ucf" />
              			
              			<option value="2" tal:condition="valueSortOption/brandorder2" selected="selected" tal:content="trans:m.catalog.frontoffice.list-brand-za,ucf" />
              			<option value="2" tal:condition="not: valueSortOption/brandorder2" tal:content="trans:m.catalog.frontoffice.list-brand-za,ucf" />
                    </select>  
				</li>
			</ol>
		</tal:block>
		<input class="button" name="catalogParam[updateSortOptions]" type="submit" value="ok" />
	</form>
</div>