<h2 change:h="">${trans:m.catalog.frontoffice.product-alert-management,ucf}</h2>
<tal:block tal:condition="paginator">
	<ul class="normal">
		<li tal:repeat="alert paginator">
			${alert/getAlertTypeLabel}
			<a tal:define="product alert/getProduct" change:link="document product">${structure product/getLabelAsHtml}</a> - 
			${trans:m.catalog.frontoffice.alert-expiration,ucf,date=alert/getFomatedExpirationDate} - 
			<a change:actionlink="" action="RemoveAlert" alertId="${alert/getId}" class="button">${trans:m.catalog.frontoffice.remove-alert,ucf}</a>
		</li>
	</ul>
	<tal:block change:paginator="paginator" />	
</tal:block>
<p tal:condition="not:paginator">${trans:m.catalog.frontoffice.no-alert,ucf}</p>