<table border="0" cellspacing="10">
	<tbody>
		<tr tal:define="price php: product.getPrice(shop, customer); id product/getId">
			<td width="75" valign="top" align="right">
				<strong>${price/getFormattedValueWithTax}</strong>
				<tal:block tal:condition="price/isDiscount">
					<br />
					<del>${price/getFormattedOldValueWithTax}</del>		
				</tal:block>
				<img change:media="document php: product.getDefaultVisual(shop); format 'modules.catalog.frontoffice/list'" />
			</td>
			<td valign="top">
				<strong>${product/getLabelAsHtml}</strong>		
				<tal:block tal:condition="product/getBrand"> [<em>${product/getBrandLabelAsHtml}</em>]</tal:block>
				<br />	
				<tal:block tal:condition="product/getDescription" tal:replace="product/getDescriptionAsHTML" />
			</td>
		</tr>
	</tbody>
</table>