<div class="ecom-block">
	<h3 class="title">${shop/getLabelAsHtml}</h3>
	<div class="content">
		<ul class="ecom-menu">
			<tal:block change:menu="menuObject menu; itemName item; maxLevel maxlevel; skipMasterUL true; liCurrentClass current; liInPathClass current">
				<a tal:condition="not: repeat/item/isCurrent" change:menuitem="item"></a>
				<tal:block tal:condition="repeat/item/isCurrent">
					<strong><a change:menuitem="item"></a></strong>
				</tal:block>
			</tal:block>
		</ul>
	</div>
</div>