<div tal:condition="products" class="product-crossselling">
	<h2 tal:condition="blockTitle" id="cross-selling-title-${configuration/getCrossSellingType}" change:h="">${blockTitle}</h2>
	
	<ul change:errors=""></ul>
	<ul change:messages=""></ul>
		
	<form action="#cross-selling-title-${configuration/getCrossSellingType}" method="post">
		<input type="hidden" name="catalogParam[formBlockId]" value="${displayConfig/blockId}" />
		<script change:javascript="src 'modules.catalog.lib.js.productListManagement'"></script>
		<div class="ecom-list">
			<ol class="table-view">
				<li tal:repeat="product products">
					<tal:block module="catalog" container="" name="ProductItem" 
					change:block="cmpref product/getId; displayConfig displayConfig; shop shop; useCache 'true'" displayMode="crossSelling" />
				</li>
			</ol>
		</div>
		<div class="cleaner"></div>
	</form>
	
	<ul class="mini-navigation" tal:condition="configuration/getAddlinktoall">
		<li><a change:link="tag functional_catalog_crosssellinglist-page; catalogParam[cmpref] globalProduct/getId; catalogParam[relationType] configuration/getCrossSellingType" change:translate="modules.catalog.frontoffice.Cross-selling-list; type typeLabel"></a></li>
	</ul>
</div>