<tal:block tal:condition="shelves">
	<h1 change:h="">${currentShelf/getLabelAsHtml}</h1>

	<ul class="shelf-list">
		<li class="shelf-line" tal:repeat="item shelves">
			<ul class="sub-list">
				<li class="shelf-visual">
					<a tal:condition="item/getVisual" change:link="document item; title item/getLinkTitle">
						<img change:media="document item/getVisual; format 'modules.catalog.frontoffice/medium'" />
					</a>
				</li>
				<li class="shelf-label">
					<a change:link="document item; title item/getLinkTitle">${item/getLabelAsHtml}</a>					
				</li>
				<li class="shelf-description" tal:condition="configuration/getDisplayshelvesdescription">
					<tal:block>${item/getShortDescription}</tal:block>						
				</li>
				<li tal:condition="configuration/getDisplaysubshelves" class="shelf-sub-selection">
					<form tal:define="subShelves item/getPublishedSubShelvesInCurrentShop" tal:condition="php: count(subShelves) GT 0" method="post" 
						change:link="module website; action Redirect">
						<label class="invisible" for="second-level-shelf-${repeat/item/index}">${trans:m.catalog.frontoffice.gotosubshelf,ucf}</label>
						<select name="location" id="second-level-shelf-${repeat/item/index}" class="textfield">
							<option tal:repeat="subItem subShelves" value="${url:subItem}">${subItem/getLabelAsHtml}</option>
						</select>
						<input class="button" type="submit" value="${trans:m.catalog.fo.ok,ucf}" />
					</form>
				</li>
			</ul>
		</li>
	</ul>
</tal:block>