<img change:productvisual="name 'visual'; mode 'list'; product item/getDocument/getProduct" change:media="document visual; format 'modules.catalog.frontoffice/productList'; class 'float-right'" />
<p tal:define="global shop item/getDocument/getShop">
	<strong change:translate="modules.catalog.frontoffice.ShopLabel"></strong>
	<a change:link="document shelf">${shop/getLabelAsHtml}</a>
</p>
<p tal:define="shelf item/getDocument/getShelf">
	<strong change:translate="modules.catalog.frontoffice.ShelfLabel"></strong>
	<a change:link="document shelf">${shelf/getLabelAsHtml}</a>
</p>
<tal:block change:productprice="name 'price'; product item/getDocument/getProduct; shop shop" tal:condition="price">
	<p tal:condition="shop/getDisplayPriceWithTax">
		<strong change:translate="modules.catalog.frontoffice.PricettcLabel"></strong>
		<tal:block tal:condition="price/isDiscount">
			<del>${price/getFormattedOldValueWithTax}</del>			
		</tal:block>
		${price/getFormattedValueWithTax}
	</p>
	<p tal:condition="shop/getDisplayPriceWithoutTax">
		<strong change:translate="modules.catalog.frontoffice.PricehtLabel"></strong>
		<tal:block tal:condition="price/isDiscount">
			<del>${price/getFormattedOldValueWithoutTax}</del>			
		</tal:block>
		${price/getFormattedValueWithoutTax}
	</p>
</tal:block>
<p>
	<strong change:translate="modules.solrsearch.frontoffice.DescriptionLabel"></strong>
	${item/getHighlightedText}<span change:translate="modules.solrsearch.frontoffice.End-descriptionEllipsis"></span>		
</p>