<table border="0" cellspacing="10">
	<tbody>
		<tr tal:define="id product/getId" change:productprice="name 'price'; product product">
			<td width="75" valign="top" align="right">
				<strong>${price/getFormattedValueWithTax}</strong>
				<tal:block tal:condition="price/isDiscount">
					<br />
					<del>${price/getFormattedOldValueWithTax}</del>		
				</tal:block>
				<img change:productvisual="name 'visual'; mode 'list'; product product" change:media="document product/getDefaultVisual; format 'modules.catalog.frontoffice/list'" />
			</td>
			<td valign="top">
				<strong>${product/getLabelAsHtml}</strong>		
				<tal:block tal:condition="product/getBrand"> [<em>${product/getBrandLabelAsHtml}</em>]</tal:block>
				<br />	
				<tal:block tal:condition="product/getDescription" tal:replace="product/getDescriptionAsHTML" />
			</td>
		</tr>
	</tbody>
</table>