<tal:block tal:define="price php: product.getPrice(shop, customer); id product/getId">
	<td tal:condition="displayConfig/showCheckboxes" tal:define="global name string:catalogParam[selected_product][$id]">
		<input class="product-selector" tal:condition="checkboxes/$id" checked="checked" tal:attributes="id name; name name; value id" type="checkbox"/>
		<input class="product-selector" tal:condition="not: checkboxes/$id" tal:attributes="id name; name name; value id" type="checkbox"/>
	</td>
	<td>
		<a change:link="document product" class="link" tal:attributes="title product/getLinkTitle" >
			<img change:media="document php: product.getDefaultVisual(shop); format 'modules.catalog.frontoffice/list'" />
		</a>
	</td>
	<td>
		<ul>
			<li><a change:link="document product" tal:attributes="title product/getLinkTitle" tal:content="product/getLabel"></a></li>
			<li tal:condition="product/getBrand" change:translate="&modules.catalog.frontoffice.from-brand;;name product/getBrandLabel;" />
			<tal:block tal:condition="displayConfig/showProductDescription">
				<li tal:condition="product/getShortDescription">${product/getShortDescription}</li>
			</tal:block>
			<tal:block tal:condition="displayConfig/showProductPictograms">
				<li tal:condition="product/getPictogramCount">
					<ul class="product-pictos">
						<li tal:repeat="pictogram product/getPictogramArray"><img change:media="document pictogram" /></li>
					</ul>
				</li>	
			</tal:block>					
		</ul>
	</td>
	<td tal:condition="displayConfig/showRatingAverage">${product/getFormattedRatingAverage}</td>
	<td tal:condition="displayConfig/showAvailability">${product/getAvailability}</td>
	<td class="priceht" tal:condition="displayConfig/showPricesWithoutTax">
		<tal:block tal:condition="price/isDiscount">
			<del>${price/getFormattedOldValueWithoutTax}</del>
			<br />			
		</tal:block>
		${price/getFormattedValueWithoutTax}			
	</td>
	<td class="pricettc" tal:condition="displayConfig/showPricesWithTax">
		<tal:block tal:condition="price/isDiscount">
			<del>${price/getFormattedOldValueWithTax}</del>
			<br />		
		</tal:block>
		<tal:block>${price/getFormattedValueWithTax}</tal:block>
	</td>
	<tal:block tal:condition="displayConfig/showAddToCart">		
		<td tal:condition="displayConfig/showQuantitySelector">
			<tal:block tal:condition="php: product.canBeOrdered(shop)">
				<label class="invisible" for="catalogParam[quantities][${id}]" change:translate="&modules.catalog.frontoffice.Detail-quantityLabel;"></label>
               	<input class="textfield quantity-selector" type="text" size="3" name="catalogParam[quantities][${id}]" value="${php: isset(quantities[id]) ? quantities[id] : 0}" />
			</tal:block>
		</td>
		<td>
			<tal:block tal:condition="php: product.canBeOrdered(shop)">
				<input type="submit" name="catalogParam[addToCart][${id}]" class="button" change:i18nattr="value &modules.catalog.frontoffice.LabelHrefAddToCart;" />
			</tal:block>
		</td>
	</tal:block>
</tal:block>